body {
  width: 100%;
  background-color: azure;
}

p {
    font-family: 'Droid Sans', Helvetica, Arial, sans-serif;
    font-size: 18px;
    line-height: 25px;
}

#registration{
  width: 500px;
  height: 500px;
  margin: auto;
  background-color: azure;
  text-align: center;
}

#registration > h2{
  font-size: 30px;
  padding-top: 12%;
  font-family: 'Droid Serif', Georgia, Times, serif;
}

#username{
  width: 200px;
  height: 25px;
  font-size: 20px;
  text-align: center;
  display: block;
  margin: auto;
  text-overflow: ellipsis;
}



.error{
  color: brown;
  font-size: 15px;
}

#chatlog p b {
  margin-right: 5px;
}

#chatlog{
  width: 500px;
  height: 200px;
  overflow: auto;
  border: 1px solid black;
}



/* used for flashing
.error {
    -webkit-animation-name: blinker;
    -webkit-animation-duration: 1s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;

    -moz-animation-name: blinker;
    -moz-animation-duration: 1s;
    -moz-animation-timing-function: linear;
    -moz-animation-iteration-count: infinite;

    animation-name: blinker;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

@-moz-keyframes blinker {
    0% { opacity: 1.0; }
    50% { opacity: 0.0; }
    100% { opacity: 1.0; }
}

@-webkit-keyframes blinker {
    0% { opacity: 1.0; }
    50% { opacity: 0.0; }
    100% { opacity: 1.0; }
}

@keyframes blinker {
    0% { opacity: 1.0; }
    50% { opacity: 0.0; }
    100% { opacity: 1.0; }
}*/

#usersonline{
  border: 1px solid black;
  width: 200px;
  height: 500px;
  overflow: auto;

}

.messagetag{

}

.mention{
  font-weight: 700;
  color: red;
}

.pm_label{
  color: red;
}

.timetag{
  font-size: 13px;
  font-style: italic;
}